asgiref==3.10.0
charset-normalizer==3.4.4
Django==5.2.8
gunicorn==25.0.1
mysqlclient==2.2.7
packaging==26.0
pillow==12.0.0
python-dotenv==1.2.1
reportlab==4.4.5
requests==2.31.0
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.8.2